{% extends "layout.html" %}

{% block title %}
    Spotify Search
{% endblock %}

{% block body %}

    <div class='tusdatos-spotifyapp-index-container'>
        <img src="/static/pngegg.png">
        <h1>Find on Spotify</h1>
        <div class='tusdatos-spotifyapp-index-formcontainer'>
            <form action='/' method='post'>
                <input type='text' name='title' class='title'>
                <input class='submit' type='submit' value="Search">
            </form>
        </div>
    </div>

{% endblock %}